<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style> /* set the CSS */
    body { font: 12px Arial;}
    path {
      stroke-width: 2;
      fill: none;
    }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #F0F8FF;
      stroke-width: 0;
    }
  </style>
</head>
<body>
<div id='graphDiv'></div>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    var graphData = {{ data.chart_data | safe }}

    // Set the dimensions of the svg
    var margin = {top: 30, right: 60, bottom: 30, left: 60};
    var svgWidth = 1200;
    var svgHeight = 540;
    var graphWidth = svgWidth - margin.left - margin.right;
    var graphHeight = svgHeight - margin.top - margin.bottom;

    // Parse the date/time
    var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
    //var parseDate = d3.time.format("%Y-%m-%d").parse;

    // Set the ranges
    var x = d3.time.scale().range([0, graphWidth]);
    var y = d3.scale.linear().range([graphHeight, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom").ticks(5);
    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(25);

    // ### Define the lines for each type of crime
    var lsdtakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.lsdtaken); });

    var pcptakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.pcptaken); });

    var victakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.victaken); });

    var exttakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.exttaken); });

    var xantakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.xantaken); });

    var cantakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.cantaken); });

    var opitakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.opitaken); });

    var kettakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.kettaken); });

    var spetakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.spetaken); });

    var shrtakenLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.shrtaken); });

    // Adds the svg canvas
    var svg = d3.select("#graphDiv")
      .append("svg")
        .attr("width", svgWidth)
        .attr("height", svgHeight)
      .append("g")
        .attr("transform", 
        "translate(" + margin.left + "," + margin.top + ")")

    // define function
    function draw(data) {
      data.forEach(function(d) {
        d.Date = parseDate(d.et);
        d.lsdtaken = +d.lsdtaken;
        d.pcptaken = +d.pcptaken;
        d.xantaken = +d.xantaken;
        d.sellng_illegal_products = +d.sellng_illegal_products;
        d.victaken = +d.victaken;
        d.cantaken = +d.cantaken;
        d.opitaken = +d.opitaken;
        d.kettaken = +d.kettaken;
        d.spetaken = +d.spetaken;
        d.shrtaken = +d.shrtaken;
      });
      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.Date; }));
      y.domain([d3.min(data, function(d) {
          return Math.min(0, d.spetaken) }),
          d3.max(data, function(d) {
          return Math.max(100, d.xantaken) })]);
      // Add the valueline paths.
      svg.append("path")
        .style("stroke", "green")
        .style("fill", "none")
        .attr("class", "line")
        .attr("d", lsdtakenLine(data));
      svg.append("path")
        .style("stroke", "blue")
        .style("stroke-dasharray", ("3, 3"))
        .attr("d", pcptakenLine(data));
      svg.append("path")
        .style("stroke", "orange")
        .attr("d", cantakenLine(data));
      svg.append("path")
        .style("stroke", "orange")
        .style("stroke-dasharray", ("3, 3"))
        .attr("d", spetakenLine(data));
      svg.append("path")
        .style("stroke", "blue")
        .attr("d", opitakenLine(data));
      svg.append("path")
        .style("stroke", "black")
        .attr("d", kettakenLine(data));
      svg.append("path")
        .style("stroke", "black")
        .style("stroke-dasharray", ("3, 3"))
        .attr("d", shrtakenLine(data));
      svg.append("path")
        .style("stroke", "brown")
        .attr("d", exttakenLine(data));
      svg.append("path")
        .style("stroke", "red")
        .attr("d", xantakenLine(data));
      svg.append("path")
        .style("stroke", "green")
        .style("stroke-dasharray", ("5, 5"))
        .attr("d", victakenLine(data));
      // Add the X Axis
      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + graphHeight + ")")
          .call(xAxis);
      // Add the Y Axis
      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+30)+","+y(graphData[0].lsdtaken)+")")
        .attr("dy", ".90em")
        .attr("text-anchor", "start")
        .style("fill", "green")
        .text("lsd");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].xantaken)+")")
        .attr("dy", ".00em")
        .attr("text-anchor", "start")
        .style("fill", "red")
        .text("xanax");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].pcptaken)+")")
        .attr("dy", ".40em")
        .attr("text-anchor", "start")
        .style("fill", "blue")
        .text("pcp");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].spetaken)+")")
        .attr("dy", ".10em")
        .attr("text-anchor", "start")
        .style("fill", "orange")
        .text("speed");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].cantaken)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "orange")
        .text("cannabis");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+10)+","+y(graphData[0].opitaken)+")")
        .attr("dy", ".70em")
        .attr("text-anchor", "start")
        .style("fill", "blue")
        .text("opium");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].kettaken)+")")
        .attr("dy", ".55em")
        .attr("text-anchor", "start")
        .style("fill", "black")
        .text("ketamine");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+10)+","+y(graphData[0].shrtaken)+")")
        .attr("dy", ".60em")
        .attr("text-anchor", "start")
        .style("fill", "black")
        .text("shrooms");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].victaken)+")")
        .attr("dy", ".65em")
        .attr("text-anchor", "start")
        .style("fill", "green")
        .text("vicodin");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].exttaken)+")")
        .attr("dy", ".70em")
        .attr("text-anchor", "start")
        .style("fill", "brown")
        .text("ecstasy");
    };

draw(graphData);

</script>
</body>
</html>
