<html>
<head>
<link rel='stylesheet' type='text/css' href='/style.css' />
</head>
<body>

<a href="/rhubarb/logout">LOGOUT</a>
<br/>
<br/>
<a href="/rhubarb/home">home</a>

<h2>Faction overview as seen by {{player.name}}[{{u}}]</h2>
<p>
Your faction is {{ faction_sum.name }}[{{ faction_sum.fid }}] and Torn says leaders are: {{ faction_sum.leadername}}[{{ faction_sum.leader}}] and {{ faction_sum.coleadername}}[{{ faction_sum.coleader}}].
<br/>
Leaders defined by your faction or by Torn are:
<ul>
{% for kl in extra.keys() %}
<li>{{ extra[kl][2] }} set by {{ extra[kl][3] }} at {{ extra[kl][4] }}</li>
{% endfor %}
</ul>

{% if is_leader %}
<a href="/rhubarb/leaders">change leaders</a>
{% endif %}
<p>

{% if nrbl %}
    <hr/>
    <h3><font color="red">Recent Big Losses (enemies chaining)</font></h3>
    <ul>
    {% for loss in big_losses %}
        <li>{{ loss[0] }}
		<a href="https://www.torn.com/profiles.php?XID={{loss[2]}}#/">{{ loss[1] }}[{{ loss[2] }}]</a>
        {{ loss[3] }}[{{ loss[4] }}] {{ loss[5] }} </li>
    {% endfor %}
    </ul>
    <hr/>
{% endif %}

</p>
{% if is_leader %}
    <p>
    <h3>Source of faction data in API</h3>
    Faction data obtained by these API keys:
    {% for k in faction_sum.api_ids_used_by_faction.keys() %}
    <br/>{{k}} at {{faction_sum.api_ids_used_by_faction[k]}}
    {% endfor %}
    <p>
    API keys that could be enabled to collect for the faction:<br/>
    {% for key in faction_sum.api_id_list.keys() %}
    The API key for {{key}} was used at {{faction_sum.api_id_list[key]}}.<br/>
    {% endfor %}
    <p>
    <h3>Outcomes of completed OC</h3>
    <table border="1">
	    <tr><th>Crime type</th><th>Crime title</th><th>Long history</th><th>Recently completed<br/>(payment guide in this column)</th></tr>
    {% for r in faction_sum.oc_table %}
    <tr>
	    <td>{{r}}</td>
	    <td><div id="oc-type-{{r}}">{{ faction_sum.oc_table[r][0] }}</div></td>
	    <td><a href="{{ faction_sum.oc_table[r][1] }}">crimes over last year</a></td>
	    <td><a href="{{ faction_sum.oc_table[r][2] }}">{{ faction_sum.oc_table[r][3] }}</a></td>
    
    </tr>
    {% endfor %}
    </table>
{% endif %}
<p>
<h3>Friendly fire (excluding where attacker lost or escaped)</h3>
{% if friendly_fires[0] %}
    There are {{ friendly_fires[0] }} counts of friendly fire in the last 5 days.
    This is computed with current data so take acccount of whether anybody changed faction recently.
    <ol>
    {% for ff in friendly_fires[1] %}
        <li>{{ ff[0] }} attacker was {{ ff[1] }} defender was {{ ff[2] }}</li>
    {% endfor %}
    </ol>
{% else %}
    No friendly fire in the last 5 days.
{% endif %}
<p>
{% if is_leader %}
    <p>
    <a href="/rhubarb/faction_player_table">Faction player table</a>
    <p>
    <a href="/rhubarb/armory_index">Faction items used</a> (extracted from armorynews and kept for 28 days) (does not include loans)
{% endif %}

<p>
<a href="/rhubarb/enemy_watch">Faction attacks on enemies</a> (excluding the last hour)

<p>
<a href="/rhubarb/pay_policy">Faction OC payment policy</a>

<p>
{% if faction_sum['respect_graph_url'] %}
    <img src="/{{ faction_sum['respect_graph_url'] }}" alt="timeseries graph of faction respect"></a>
{% endif %}
{% if faction_sum['respect_graph_url'] %}
    <img src="/{{ faction_sum['neumune_graph_url'] }}" alt="timeseries graph of faction neumune stock"></a>
{% endif %}
</body>
</html>
