<html>
<head></head>
<body>

<a href="/rhubarb/logout">LOGOUT</a>
<br/>
<br/>
<a href="/rhubarb/home">home</a>
<br/>
<br/>
<a href="/rhubarb/faction_ov">faction overview</a>

<h3>Faction player table displayed to {{player.name}}[{{u}}]</h2>
<p>
Your faction is {{ faction_sum.name }} [{{ faction_sum.fid }}] with leaders: {{ faction_sum.leadername}}[{{ faction_sum.leader}}] and {{ faction_sum.coleadername}}[{{ faction_sum.coleader}}].
</p>
{% if is_leader %}
You are recognised as a leader so the player table will be shown.

<table border="1">
	<tr><th>Player</th><th>Crime</th><th>Number</th><th>Recency</th><th>Most days idle</th><th>Stats<br/>(needs API key)</th><th>Age of data</th><th>OC success</th><th>OC breakdown<br/>(within last year)</th><th>Event list</tr>

{% for pid in pt %}
<tr>
	<td>{{pt[pid].name}}<br/>[{{pid}}]<br/>{{pt[pid].level}}</td>
        <td>
         {% for key in pt[pid].crime_num.keys() %}
         {{ key }}<br/>
         {% endfor %}
        </td>
        <td>
         {% for key in pt[pid].crime_num.keys() %}
         <div align='right'>{{ pt[pid].crime_num[key] }}</div>
         {% endfor %}
        </td>

        <td>
        {% for r in pt[pid].crime_recency %}
        {{ r }}<br/>
        {% endfor %}
        </td>
        <td>{{pt[pid].most_days_idle}}</td>
        <td>
         {% for key in pt[pid].stats.keys() %}
         <div>{{key}} {{pt[pid].stats[key]}}</div>
         {% endfor %}
        </td>
        <td>
         {% for key in pt[pid].age_of_data.keys() %}
         <div>{{key}} {{pt[pid].age_of_data[key]}}</div>
         {% endfor %}
        </td>
        <td>
	{{pt[pid].oc_calc}}
        </td>
        <td>
         {% for key in pt[pid].oc.keys() %}
         <div>{{key}} {{pt[pid].oc[key]}}</div>
         {% endfor %}
        </td>
        <td>
         {% for e in pt[pid].events %}
	  <a href="{{ e }}">player OC history</\><br/>
         {% endfor %}
         {% for key in pt[pid].attacklinks.keys() %}
          <a href="/rhubarb/attack/{{key}}">{{pt[pid].attacklinks[key]}}</a></br>
         {% endfor %}
        </td>

</tr>
{% endfor %}
</table>

{% else %}
You are not a leader and do not see other players here unless you've been delegated by a leader to see something.
{% endif %}

</body>
</html>
