<html>
<head></head>
<body>

<h2>{{player.name}}[{{u}}]</h2>

<a href="/rhubarb/logout">LOGOUT</a>
<br/>
<br/>
<a href="/rhubarb/settings">tornutopia settings</a>

<h3>Faction info</h3>
<p>
Your faction is {{ faction_sum.name }} [{{ faction_sum.fid }}] with leaders: {{ faction_sum.leadername}}[{{ faction_sum.leader}}] and {{ faction_sum.coleadername}}[{{ faction_sum.coleader}}].
</p>
{% if is_leader %}
You are recognised as a leader and get a <a href="/rhubarb/faction_ov">faction overview</a>.
{% else %}
You are not a leader and do not see other players here.
{% endif %}
<p>
{% if faction_sum['respect_graph_url'] %}
<img src="/{{ faction_sum['respect_graph_url'] }}" alt="timeseries graph of faction respect"></a>
{% endif %}

<h3>Your Torn player</h3>

<table border="1">
	<tr><th>Player</th><th>Crime</th><th>Number</th><th>Recency</th><th>Most days idle</th><th>Stats<br/>(needs API key)</th><th>Age of data</th><th>OC success</th><th>OC breakdown<br/>(within last year)</th><th>Event list</tr>
<tr>

	<td>{{player.name}}<br/>[{{player.u}}]<br/>{{player.level}}</td>
	<td>
         {% for key in player.crime_num.keys() %}
	 {{ key }}<br/>
         {% endfor %}
	</td>
	<td>
         {% for key in player.crime_num.keys() %}
	 <div align='right'>{{ player.crime_num[key] }}</div>
         {% endfor %}
	</td>

	<td>
	{% for r in player.crime_recency %} 
	{{ r }}<br/>
        {% endfor %}
	</td>
	<td>{{player.most_days_idle}}</td>
	<td>
         {% for key in player.stats.keys() %}
	 <div>{{key}} {{player.stats[key]}}</div>
         {% endfor %}
	</td>
	<td>
         {% for key in player.age_of_data.keys() %}
	 <div>{{key}} {{player.age_of_data[key]}}</div>
         {% endfor %}
	</td>
	<td>
	{{player.oc_calc}}
	</td>
	<td>
         {% for key in player.oc.keys() %}
	 <div>{{key}} {{player.oc[key]}}</div>
         {% endfor %}
        </td>
	<td>
	<a href="{{ player.events }}">OC history</a>
         <br/>
         {% for key in player.attacklinks.keys() %}
	 <a href="/rhubarb/attack/{{key}}">{{player.attacklinks[key]}}</a></br>
         {% endfor %}
	</td>
</tr>
</table>

{% if player.got_drug_bool %}
{% else %}
You would have additional graphs (e.g. drug use) if you added your API key under settings.
{% endif %}

{% for pair in player.js_graphs %}
<br/><a href="/rhubarb/graph/{{ pair[0] }}"">{{ pair[1] }}</a>
{% endfor %}

{% for pair in player.img_graphs %}
<br/><img src="/{{ pair[0] }}" alt="timeseries graph {{ pair[1] }}"></a>
{% endfor %}

</body>
</html>
