<html>
<head></head>
<body>

<a href="/rhubarb/logout">LOGOUT</a>
<br/>
<br/>
<a href="/rhubarb/home">home</a>

<h2>Settings for user {{name}}[{{u}}]</h2>

<p>
something about password resets, choosing a password, provide old and new.  Get told whether it was accepted.

<p>
something about API key (Do they have one?  Is it current?  Want to set/change/delete it?  Use it for faction data retrieval?)

<p>
Is your OC count correct?  If your API key is not on record and you are new to the faction it might not be.
<br/>
Current value is ... do ... to correct it.

<p>
something about deleting account

</body>
</html>
